<!DOCTYPE html>
<html>
<head>
  <title>Sample</title>
  <style type="text/css" href="./style.css"></style>
  <%= csrf_meta_tag %>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>

<!-- 変更点はこちら↓ blue lighten-2 というクラスがついています！ -->
<nav class="blue lighten-2">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">ブログ</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/users/sign_in">ログイン</a></li>
      <% if user_signed_in? %>
      <li><a href="/tweets/new">投稿</a></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %><li>
      <% end %>
    </ul>
  </div>
</nav>

<script type="text/javascript" src="./app.js"></script>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</body>
</html>
  <body>
    <%= yield %>
  </body>
</html>
